:root {
    --ff-prim: 'Noto Sans', sans-serif;
    --ff-acc: 'Inter', sans-serif;
    --logo-size: 2.5rem;
    --bg-prim: #fff;
    --bg-sec: hsl(205, 87%, 95%);
    --txt-prim: #1b1b1b;
    --box-shadow-rgb: 5, 30, 60;
    --hgmn-elevation: 0 1px 3px 0 rgba(var(--box-shadow-rgb), .3), 0 2px 6px 2px rgba(var(--box-shadow-rgb), .15);
    --acc-bg: hsl(205, 87%, 20%);
    --cta-bg: hsl(205, 87%, 40%);
    /* --success: #00ff87; */
    --success: hsl(155, 100%, 35%);
    --game-max-width: 640px;
    --game-min-height: 264px;
    --about-modal-max-width: 680px;
    --about-modal-min-height: 240px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    font: 400 100%/1 var(--ff-prim);
    background-color: var(--bg-sec);
    color: var(--txt-prim);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

li {
    list-style: none;
    padding: .25rem 0;
    cursor: pointer;
}

.btn {
    font: inherit;
    line-height: normal;
    cursor: pointer;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: .25rem;
    color: inherit;
}