/* Header styling */
.header,
.footer {
    background-color: var(--bg-prim);
    padding: 1.25rem;
    height: 4.5rem;
}

.header {
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid var(--bg-prim);
}

/* Generic logo styling */
.logo .icon-wrapper {
    width: var(--logo-size);
    height: var(--logo-size);
    vertical-align: middle;
}

.logo .header__title {
    font-size: 2rem;
    height: 100%;
    padding: 0 .25rem;
}

.header .header__actions-btn {
    font-size: 1.5rem;
    cursor: pointer;
    width: var(--logo-size);
    height: var(--logo-size);
    display: flex;
    outline: none;
    border-radius: 50%;
    background-color: transparent;
    color: inherit;
    padding: 0;
}

.header .header__actions-btn:hover,
.header .header__actions-btn:active {
    background-color: var(--bg-sec);
}

.header .header__actions-btn i {
    height: fit-content;
    font-size: calc(var(--logo-size)/2);
    margin: auto;
}

/* Header actions menu styling */
.header__actions-menu {
    min-width: 200px;
    width: fit-content;
    background-color: var(--bg-prim);
    box-shadow: var(--hgmn-elevation);
    border-radius: calc(var(--border-rad-prim)/2);
    position: fixed;
    top: 2%;
    right: 1%;
    font-size: 1rem;
    text-align: left;
    display: none;
    z-index: 10;
}

.header__actions-menu.show {
    display: block;
}

.header__actions-menu .header__actions {
    padding: .5rem 0;
    background-color: transparent;
    color: inherit;
}

.header__actions-menu .header__actions .header__action {
    padding: .6rem 1.2rem;
}

.header__actions-menu .header__actions .header__action:hover,
.header__actions-menu .header__actions .header__action:active {
    background-color: var(--bg-sec);
}

/* Main area styling */
.main {
    width: 100%;
    flex: 1;
}

.main .helper {
    text-align: center;
    padding: 1.25rem;
}

.main .helper__text {
    font-size: 1.025rem;
    font-weight: 500;
    padding-inline: 0;
}

/* Game section styling */
.main .game {
    width: 94%;
    min-width: calc(min(94%, var(--game-min-width)));
    max-width: var(--game-max-width);
    min-height: var(--game-min-height);
    margin: auto;
    padding: 1.25rem;
    box-shadow: var(--hgmn-elevation);
    border-radius: var(--border-rad-prim);
    background-color: var(--bg-prim);
    position: relative;
    overflow: hidden;
}

.main .game .container {
    flex: 1;
}

.main .game .container .game__title {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    line-height: 1;
}

.main .game .container .game__content {
    text-align: center;
    flex: 1;
    justify-content: space-between;
}

.main .game .container .game__content > * {
    flex: 1;
}

.main .game .container .game__content .puzzle-wrapper {
    padding: 1.25rem 0;
}

.main .game .container .game__content .puzzle-wrapper > * {
    margin: auto;
}

.main .game .container .game__content .puzzle-wrapper .content__word {
    font-family: var(--ff-puzzle);
    font-size: 1.5rem;
    padding: .75rem .25rem;
    flex-wrap: wrap;
}

.main .game .container .game__content .puzzle-wrapper .content__word .puzzle-letter {
    display: inline-block;
    height: var(--puzzle-letter-size);
    line-height: var(--puzzle-letter-size);
    margin: 0 .15rem;
    text-align: center;
    text-transform: uppercase;
    width: var(--puzzle-letter-size);
}

.main .game .container .game__content .puzzle-wrapper .content__word .puzzle-letter.border-bottom {
    border-bottom: 2px solid var(--cta-bg);
}

.main .game .container .game__content .puzzle-wrapper .content__status {
    padding: 1.5rem 0 0;
}

/* Credits & Game level section */
.main .game .credits,
.main .game .game-level {
    position: absolute;
    top: 0;
    padding: .5rem;
    color: var(--acc-bg);
    font-weight: 500;
    line-height: 1;
    gap: .25rem;
}

.main .game .credits {
    right: 1%;
}

.main .game .credits .credits__icon {
    color: #f3a657;
}

/* Game level section */
.main .game .game-level {
    width: fit-content;
    left: 1%;
}

.main .game .game-level .level__steps {
    position: relative;
    top: 6px;
    left: -2px;
}

.main .game .game-level .level__step {
    position: relative;
    display: block;
    width: var(--game-level-step-width);
    height: 2px;
    background-color: var(--cta-bg);
    margin: 2px 0;
}

.main .game .game-level .level__step:first-of-type {
    left: calc(var(--game-level-step-width) / 2);
}

.main .game .game-level .level__step:last-of-type {
    left: calc((var(--game-level-step-width) / 2) * (-1));
}

/* Footer styling */
.footer {
    border-top: 1px solid var(--bg-prim);
}

.footer .copyright {
    margin: auto;
}

/* Mobile styling */
@media (max-width: 840px) {
    .header,
    .footer {
        padding-inline: .55rem;
    }
}

@media (max-width: 540px) {
    :root {
        --logo-size: 2rem;
    }

    .header .logo .header__title {
        font-size: 1.5rem;
    }

    .header__actions-menu {
        right: 2%;
    }

    .reset-btn {
        font-size: 1.25rem;
    }
}

@media (max-width: 380px) {
    :root {
        --logo-size: 1.5rem;
    }

    .header .logo .header__title {
        font-size: 1.25rem;
    }

    .reset-btn {
        font-size: 1.15rem;
    }
}