.reset-btn {
    width: 100%;
    font-size: 1.35rem;
    font-weight: 500;
    border-radius: 100vh;
    background-color: var(--cta-bg);
    color: var(--bg-prim);
    margin-top: auto;
    padding: .8rem 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-btn > * {
    display: block;
    height: 30px;
}

.reset-btn:hover,
.reset-btn:active {
    background-color: var(--acc-bg);
}

.reset-btn .btn-icon {
    display: flex;
}

.reset-btn .btn-icon i {
    margin: auto;
}

.reset-btn .btn-text {
    padding: 0 .5rem;
}

.flex--x {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex--y {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none !important;
}

.accent--bold {
    font-family: var(--ff-acc);
    font-weight: 700;
    letter-spacing: -.8px;
    word-spacing: 3.2px;
    color: var(--acc-bg);
}

.success {
    color: var(--success) !important;
    font-weight: 500 !important;
}

.success::before {
    content: url('../img/party.ico');
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 38%;
    transform: scale(.18) rotateY(180deg);
}

.success::after {
    content: url('../img/party.ico');
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    right: 38%;
    transform: scale(.18);
}