/* Overlay styling */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: transparent;
    pointer-events: none;
    z-index: 1;
}

.overlay.show {
    opacity: 1;
    pointer-events: all;
}

.overlay.darken {
    background-color: rgba(0, 0, 0, .5);
}

/* Modals and popups styling */
.modal {
    width: 90%;
    max-width: var(--about-modal-max-width);
    min-height: var(--about-modal-min-height);
    background-color: var(--bg-prim);
    box-shadow: var(--hgmn-elevation-2);
    border-radius: var(--border-rad-prim);
    margin: auto;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .3s ease-in-out;
    z-index: 100;
}

.modal.show {
    transform: translate(-50%, -50%) scale(1);
}

.modal > * {
    padding: 1rem;
}

.modal .modal__head {
    padding-block: .5rem;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
}

.modal .modal__head .modal-title {
    color: var(--acc-bg);
    font-size: 105%;
    font-weight: 500;
    width: var(--modal-title-width);
}

.modal .modal__head .modal-title .title__icon,
.modal .modal__head .modal-title .title__text {
    display: block;
    height: 100%;
}

.modal .modal__head .modal-title .title__icon {
    display: flex;
}

.modal .modal__head .modal-title .title__icon i {
    margin: auto;
}

.modal .modal__head .modal-title .title__text {
    padding-left: .3rem;
    flex: 1;
}

/* Generic modal close button styling */
.modal-close {
    display: flex;
    width: 2rem;
    height: 2rem;
    padding: 0;
    background-color: #ededed;
    border-radius: 50%;
}

.modal-close i {
    margin: auto;
}

.modal .modal__body {
    padding: 0;
    width: 100%;
    flex: 1;
}

.modal .modal__body.about-app {
    text-align: center;
}

.modal .modal__body.about-app .about-app__logo {
    margin: auto;
}

.modal .modal__body.about-app .about-app__desc {
    font-size: 90%;
}

.modal .modal__body.about-app .about-app__desc .desc__text {
    padding: .5rem 0;
}

.modal .modal__body.about-app .about-app__desc .desc__version {
    padding: 1rem 0 .5rem;
    font-size: 85%;
    font-weight: 700;
}

/* Game steps styling */
.game__steps {
    padding: var(--modal-body-child-pad);
}

.game__steps,
.game__steps .game__step,
.game__steps .game__step .step__body {
    flex: 1;
}

.game__steps .game__step .step__title {
    line-height: 1;
}

.game__steps .game__step .step__body {
    padding: .25rem 0 1rem;
    font-size: 96%;
}

/* Preferences styling */
.preference {
    display: grid;
    grid-template-columns: auto 1fr;
    flex: 1;
}

.preference > * {
    height: 100%;
}

.preference .preference__options {
    width: calc(var(--modal-title-width) + var(--modal-body-child-pad));
    align-self: flex-start;
    border-right: 1px solid hsl(205, 87%, 85%);
    background-color: var(--bg-sec);
}

.preference .preference__options .preference__option {
    width: 100%;
    padding: var(--modal-body-child-pad);
    cursor: pointer;
    gap: .5rem;
    font-weight: 500;
}

.preference .preference__options .preference__option:hover,
.preference .preference__options .preference__option:active {
    background-color: hsl(205, 87%, 85%);
}

.preference .preference__content {
    display: grid;
    grid-template-rows: 1fr auto;
}

.preference .preference__content .content__actions {
    padding: var(--modal-body-child-pad);
    justify-content: flex-end;
    gap: 1rem;
}

.preference .preference__content .content__actions .content__action {
    font-weight: 500;
    padding: .65rem 1.3rem;
}

.preference .preference__content .content__actions .action--discard {
    background-color: transparent;
    color: var(--cta-bg);
}

.preference .preference__content .content__actions .action--discard:hover,
.preference .preference__content .content__actions .action--discard:active {
    background-color: transparent;
    color: var(--acc-bg);
}

.preference .preference__content .content__actions .action--save {
    background-color: var(--cta-bg);
    color: var(--bg-prim);
}

/* Popups styling */
.popup {
    width: fit-content;
    min-height: 2.5rem;
    box-shadow: var(--hgmn-elevation-2);
    border-radius: calc(var(--border-rad-prim)/2);
    background-color: var(--bg-prim);
    position: fixed;
    top: 2.5%;
    left: 50%;
    transform: translate(-50%, -2.5%) scale(0);
    transition: transform .3s ease-in-out;
    z-index: 1000;
}

.popup.show {
    transform: translate(-50%, -2.5%) scale(1);
}

.popup--success {
    box-shadow: var(--hgmn-elevation-success);
    background-color: hsl(150, 90%, 60%);
}

.popup .container {
    min-height: inherit;
    padding: .75rem;
    gap: .5rem;
}

.reset-btn {
    width: 100%;
    font-size: 1.35rem;
    font-weight: 500;
    border-radius: 100vh;
    background-color: var(--cta-bg);
    color: var(--bg-prim);
    margin-top: auto;
    padding: .8rem 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-btn > * {
    display: block;
    height: 30px;
}

.reset-btn .btn-icon {
    display: flex;
}

.reset-btn .btn-icon i {
    margin: auto;
}

.reset-btn .btn-text {
    padding: 0 .5rem;
}

.cta:hover,
.cta:active {
    background-color: var(--acc-bg) !important;
    color: var(--bg-prim) !important;
}

.flex--x {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex--y {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none !important;
}

.accent--bold {
    font-family: var(--ff-acc);
    font-weight: 700;
    letter-spacing: -.8px;
    color: var(--acc-bg);
}

.success {
    color: var(--success) !important;
    font-weight: 500 !important;
}

.success::before {
    content: url('../img/party.ico');
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 38%;
    transform: scale(.18) rotateY(180deg);
}

.success::after {
    content: url('../img/party.ico');
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    right: 38%;
    transform: scale(.18);
}

.github-link {
    display: block;
    text-align: center;
    padding-top: 1rem;
    font-weight: 500;
}

.github-link:hover,
.github-link:active {
    color: var(--acc-bg);
    text-decoration: underline;
}

.github-link .fa-github {
    font-size: 110%;
}