.reset-btn {
    width: 100%;
    font-size: 1.35rem;
    font-weight: 500;
    background-color: var(--cta-bg);
    color: var(--bg-prim);
    margin-top: auto;
    padding: .8rem 1.6rem;
    border-radius: 100vh;
}

.reset-btn .btn-text {
    padding: 0 .5rem;
}

.reset-btn:hover,
.reset-btn:active {
    background-color: var(--acc-bg);
}

.flex--x {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex--y {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none !important;
}

.accent--bold {
    font-family: var(--ff-acc);
    font-weight: 700;
    letter-spacing: -.8px;
    word-spacing: 3.2px;
    color: var(--acc-bg);
}

.success {
    color: var(--success);
}